<div class="accordion-heading">
<a data-target='#section-container-{{_id}}' data-toggle="collapse"
    class="accordion-toggle"> {{title}} </a>
</div>
<div class="accordion-body collapse" id="section-container-{{_id}}">{{name}} - {{title}} </div>

