<div id="book-details" class="well sidebar-nav">
    <ul class="nav nav-list"><li class="nav-header">Book
        outline</li> <li> <a href='#books/{{_id}}/{{make_slag title}}'> {{title}}</a> </li> 
        <li> <a href='#'> Cover </a> </li>
        <li> <a href='#'> Introduction </a> </li>
        <li> <a href='#'> Table of Contents </a> </li>

        <li>{{subtitle}}</li>
        <li>{{author}}</li></ul>
</div>
<hr />

