    <td>
        <a href='#books/{{_id}}/{{make_slag title}}'> {{title}} </a>
    </td>
    <td>
        {{subtitle}}
    </td>
    <td>
        {{author}}
    </td>
    <td>
        {{status}}
    </td>
